<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Character encoding -->
    <meta charset="UTF-8">
    <!-- Responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the CSS stylesheet -->
    <link rel="stylesheet" href="../../css/estils.css">
    <!-- Title of the page -->
    <title>Studies</title>
</head>
<body>
    <!-- Page header -->
    <header>
        <!-- Main title -->
        <h1>Studies</h1>
        <!-- Navigation menu -->
        <nav>
            <ul>
                <!-- Link to the home page -->
                <li><a href="../en/index_en.html">Home</a></li>
                <!-- Link to the experience page -->
                <li><a href="./experience.html">Experience</a></li>
            </ul>
        </nav>
        <!-- Link to the English version of the page -->
        <a href="../estudis.html"><img src="../../img/Bandera ingles.png" alt="English" class="language-flag"></a>
    </header>

    <!-- Main content -->
    <main>
        <!-- First column -->
        <div class="columna">
            <!-- Section title -->
            <h2>FORMAL EDUCATION</h2>
            <!-- Description of formal education -->
            <p>Currently <br> • CFGM Microcomputer Systems and Networks • CE Joan XXIII </p>
            <!-- Another description of formal education -->
            <p> • 2021 • Compulsory Secondary Education • Salesians</p>
        </div>
        <!-- Second column -->
        <div class="columna">
            <!-- Section title -->
            <h2>ADDITIONAL TRAINING</h2>
            <!-- Description of additional training -->
            <p>• 2021 • Advanced Excel Programmer Certificate • Salesians Sant Boi</p>
            <!-- Another description of additional training -->
            <p>• 2023 • Network Security • Cibernarium</p>
        </div>
    </main>
</body>
</html>
