<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
    <title>Experience</title>
</head>
<body>
    <header>
        <h1>Work Experience</h1>
        <nav>
            <ul>
                <li><a href="../en/index_en.html">Home</a></li>
                <li><a href="./education.html">Studies</a></li>
            </ul>
        </nav>
        <a href="../experiencia.html"><img src="../../img/Bandera ingles.png" alt="English" class="language-flag"></a>
    </header>

    <main>
        <div class="columna">
            <h2>WORK ACTIVITIES</h2>
            <p>• +400 Hours of experience at a school as a computer technician</p>
        </div>
</body>
</html>
