<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
    <title>CV</title>
</head>
<body>
    <header>
        <h1>Albert Romero's Curriculum Vitae</h1>
        <nav>
            <ul>
                <li><a href="./education.html">Studies</a></li>
                <li><a href="./experience.html">Experience</a></li>
            </ul>
        </nav>
        <a href="../../index.html"><img src="../../img/Bandera ingles.png" alt="English" class="language-flag"></a>
    </header>

    <main>
        <div class="columna">
            <h2>About Me</h2>
            <h3>Who am I?</h3>
            <p>I'm Albert Romero, a computer science student with a strong interest in delving into the world of cybersecurity and mechanics, the latter for more hobby-related reasons. I'm passionate about problem-solving and continuous learning. I enjoy working in teams and facing challenges that allow me to grow both personally and professionally.</p>
            <h3>Professional Objective</h3>
            <p>My goal is to achieve excellent training in cybersecurity and the development of microcomputer systems and networks. I seek to gain practical experience in professional environments through an internship where I can apply my knowledge and continue learning. I aspire to contribute significantly to innovative projects and collaborate in the development of technological solutions that have a positive impact on society.</p>
            <div>
                <h2>Languages</h2>
                <div class="idiomas">
                    <p>English</p>
                    <div class="barra-progreso">
                        <div class="progreso-ingles"></div>
                    </div>
                    <p>Catalan</p>
                    <div class="barra-progreso">
                        <div class="progreso-catalan"></div>
                    </div>
                    <p>Spanish</p>
                    <div class="barra-progreso">
                        <div class="progreso-castellano"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columna">
            <h2>Personal Projects</h2>
            <div class="proyectos">
                <h3>BlackSphere</h3>
                <a href="https://github.com/LotsV8pro/BlackSphere" target="_blank">
                    <img src="../../img/BlackSphereLogo.png" alt="BlackSphere Logo">
                </a>
                <p>BlackSphere is a joint web project with a friend. In this project, we propose a company for creating and updating servers on the Discord platform. We are designing and developing a platform that aims to provide resources and content related to cybersecurity for students and professionals in the sector. Our goal is to create a space where users can learn, share knowledge, and stay informed about the latest trends in the field of computer security.</p>
            </div>
        </div>
    </main>
</body>
</html>
