<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Codificación de caracteres -->
    <meta charset="UTF-8">
    <!-- Etiqueta meta para la visualización en dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace a la hoja de estilos CSS -->
    <link rel="stylesheet" href="../css/estils.css">
    <!-- Título de la página -->
    <title>Estudios</title>
</head>
<body>
    <!-- Encabezado de la página -->
    <header>
        <!-- Título principal -->
        <h1>Estudios</h1>
        <!-- Menú de navegación -->
        <nav>
            <ul>
                <!-- Enlace al inicio -->
                <li><a href="../index.html">Inicio</a></li>
                <!-- Enlace a la página de experiencia -->
                <li><a href="experiencia.html">Experiencia</a></li>
            </ul>
        </nav>
        <!-- Enlace a la versión en inglés de la página -->
        <a href="./en/education.html"><img src="../img/bandera_española.png" alt="English" class="language-flag"></a>
    </header>

    <!-- Contenido principal -->
    <main>
        <!-- Primera columna -->
        <div class="columna">
            <!-- Título de sección -->
            <h2>FORMACION REGLADA</h2>
            <!-- Descripción de la formación reglada -->
            <p>Actualmente <br> • CFGM Sistemes Microinformàtics i Xarxes • CE Joan XXIII </p>
            <!-- Otra descripción de la formación reglada -->
            <p> • 2021 • Educació Secundària Obligatòria • Salesians</p>
        </div>
        <!-- Segunda columna -->
        <div class="columna">
            <!-- Título de sección -->
            <h2>FORMACIÓ COMPLEMENTÀRIA</h2>
            <!-- Descripción de la formación complementaria -->
            <p>• 2021 • Títol de Programador Avançat d'Excel • Salesians Sant Boi</p>
            <!-- Otra descripción de la formación complementaria -->
            <p>• 2023 • Seguretat a la xarxa • Cibernarium</p>
        </div>
    </main>
</body>
</html>
