<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estils.css">
    <title>Estudios</title>
</head>
<body>
    <header>
        <h1>Estudios</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="experiencia.html">Experiencia</a></li>
            </ul>
        </nav>
        <a href="./en/education.html"><img src="../img/bandera_española.png" alt="English" class="language-flag"></a>
    </header>

    <main>
        <div class="columna">
            <h2>FORMACION REGLADA</h2>
            <p>Actualment <br> • CFGM Sistemes Microinformàtics i Xarxes • CE Joan XXIII </p>
            <p> • 2021 • Educació Secundària Obligatòria • Salesians</p>
        </div>
        <div class="columna">
            <h2>FORMACIÓ COMPLEMENTÀRIA</h2>
            <p>• 2021 • Títol de Programador Avançat d'Excel • Salesians Sant Boi</p>
            <p>• 2023 • Seguretat a la xarxa • Cibernarium</p>
        </div>
    </main>
</body>
</html>
