<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estils.css">
    <title>Experiencia</title>
</head>
<body>
    <header>
        <h1>Experiencia Laboral</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="estudis.html">Estudios</a></li>
            </ul>
        </nav>
        <a href="./en/experience.html"><img src="../img/bandera_española.png" alt="English" class="language-flag"></a>
    </header>

    <main>
        <div class="columna">
            <h2>ACTIVITATS LABORALS</h2>
            <p>• +400 Hores d’experiancia a un colegi com informatic </p>
        </div>
       
        
</body>
</html>
